@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    position: relative;
    width: 600px;
    height: 65px;
    background-image: linear-gradient(to right top, rgb(98, 79, 44), rgb(25, 88, 197));
    border-radius: 5px;
}


.menu {
    width: 100%;
    height: 100%;
}


.wrapper .menu ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wrapper .menu ul li{
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
}

.ball {
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: linear-gradient(to right top, rgb(98, 79, 44), rgb(25, 88, 197));
    border-radius: 50%;
    border: 7px solid black;
    top: -40px;
    left: 30px;
}

.ball-icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}